
.basket{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.basket__banner{
    width: 100%;
    height: 60px;
    background-color:white;
    border-bottom: 1px solid black;
}

.basket__accountReminder{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    width: 90%;
    margin-top: 20px;
    height: 40px;
    background-color:lightyellow;
}

.basket__controls{
    display:flex;
    align-items:center;
    width: 90%;
    margin-top: 20px;
    height: 60px;
    background-color:white;
}

.basket__content{
    width: 90%;
    margin-top: 20px;
    background-color:white;
    min-height: 100vh;
    display: flex;
}

.basket__list{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 80%;
}

.basket__meals{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex:1;
    border-left: 10px solid #cccccc;
}

.basket__list h2{
    margin-top: 20px;
}

.basket__meals h2{
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
}

.basket__mealTitle{
    font-size: 24px;
    font-weight:bold;
    margin: 10px;
}

.basket__mealTitle--sm{
    font-weight:bold;
    color: #bbb;
}

.basket__mealWrapper{
    padding: 20px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 90%;
    border-bottom: 2px solid #cccccc;
}

.basket__meal{
    display:flex;
    justify-content: center;
    font-size: 18px;
    width: 400px;
}

.basket__ingrediant{
    width: 200px;
    text-align: right;
}

.basket__amount{
    width: 100px;
    text-align: right;
    margin-left: 40px;
}

.basket__remove{
    display:flex;
    align-items: center;
}

.basket__remove label{
    margin-left: 10px;
    font-size: 12px;
    color: #777;
}