
.meal{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.meal textarea{
    width: 300px;
    height: 100px;
}

.meal__return{
    border: 1px solid black;
    background-color:white;
    margin: 10px;
    padding: 5px 7px;
    transition: 0.3s all ease;
}

.meal__return:hover{
    background-color:black;
    color:white;
}

.meal__wrapper{
    width: 90%;
    min-height: 700px;
    background-color:white;
}

.meal_image{
    height: 400px;
    width: 100%;
    z-index: 1;
    position:relative;
    background-size:contain;
}

.meal__imageEditWrapper{
    position: absolute;
    top: 20px;
    left: 20px;
    color:white;
    font-size: 24px;
    border: 2px solid white;
    border-bottom: 2px solid lightskyblue;
    padding: 20px;
    border-radius: 12px;
}

.hidden__wrapper{
    cursor:context-menu;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    left: 5px;
    padding: 1px 7px;
    border-radius: 50%;
    background-color:purple;
    border: 1px solid white;
    color:white;
}

.hidden_div{
    display:none;
    background-color:purple;
    border: 1px solid black;
    color:white;
    position:absolute;
    left: 30px;
    padding: 2px 5px;
    border-radius: 8px;
}

.meal__privacy{
    display:flex;
    justify-content: center;
    align-items: center;
}

.hidden__wrapper:hover .hidden_div{
    display:flex;
}

.meal_imageShadow{
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.meal__title{
    font-size: 42px;
    color:white;
    font-weight:bold;
}

.meal__addToBasketButton{
    cursor: pointer;
    position:absolute;
    bottom: 0px;
    right: 20px;
    color: black;
    background-color:#eef0ff;
    border: 1px solid black;
    border-bottom: none;
    padding: 3px 7px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: 0.3s all ease;
}

.meal__addToBasketButton:hover{
    background-color:white;
    padding-bottom: 17px;
    border-bottom: 2px dashed black;
}

.meal__information{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    width:100%;
}

.meal__author{
    font-size: 24px;
    margin-top: 5px;
}

.meal__date{
    width: 400px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
}

.meal__ingrediants{
    display:flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    width: 90%;
    padding-bottom: 20px;
}

.meal__ingrediant{
    padding: 5px 7px;
    border: 1px solid black;
    border-radius: 12px;
    margin-left: 20px;
    background-color: #eef0ff;
}

.meal__ingrediant:hover{
    border: 1px solid blue;
}

.meal__ingrediantUpdate{
    margin: 10px 20px;
}

.privateLogo{
    border-radius: 50%;
    z-index: 500;
    background-color: purple;
    width: 20px;
    height: 20px;
    display:flex;
    justify-content: center;
    align-items: top;
    font-weight:bold;
    color:white;
    position:absolute;
    top: 10px;
    left: 10px;
}

.meal__updateIngrediantName{
    margin-bottom: 20px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.meal__updateIngrediantAmount{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.meal__instructions{
    margin-top: 30px;
    line-height: 1.4;
    max-width: 90%;
    padding-bottom: 20px;
}

.meal{
    position: relative;
}

.userBox{
    display:flex;
    align-items: center;
    flex-direction:column;
    z-index: 800;
    position:absolute;
    bottom: 20px;
    right:20px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:white;
    padding: 20px;
}

.userBox h4{
    margin-bottom: 40px;
    font-size: 24px;
}

.userBox form{
    display:flex;
    flex-direction: column;
}

.meal__newIngrediantWrapper{
    margin: 30px 0;
}

.userBox button{
    margin-top: 20px;
    background-color:lightblue;
    padding: 5px;
    border:1px solid white;
    border-radius: 8px;
    cursor:pointer;
}

.meal__descriptionWrapper{
    margin-top:20px;
}

.meal__privacy{
    display:flex;
    flex-direction:column;
    margin-top: 20px;
}

.meal__privacy span{
    width: 100px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
