
.smallpost{
    display:flex;
    width: 400px;
    height: 600px;
    border: 1px solid orange;
    background-color: white;
}

.smallpost__wrapper{
    padding: 10px;
    width: 100%;
    display:flex;
    flex-direction:column;

}

.smallpost__image{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.smallpost__content{
    width: 100%;
    display:flex;
    flex-direction:column;
    margin-top: 10px;
    align-items:center;
}

.smallpost__content span{
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}

.smallpost__content ul{
    margin-left:0;
    display:flex;
    flex-wrap:wrap;
    align-items:space-evenly;
    justify-content: flex-start;
}

.smallpost__content li{
    margin-right: 15px;
    margin-left: 0;
    list-style-type:none;
    background-color: #eef0ff;
    padding: 3px 10px;
    border-radius: 12px;
    margin: 4px;
    border: 1px solid white;
}

