.view{
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
}

.view a{
    color:black;
    text-decoration: none;
}

.view__create{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: #eef0ff;
    border: 2px solid white;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease;
}

.view__create:hover{
    background-color:black;
    color:white;
    border-color:red;
}

.view__user{
    background-color:white;
    border-right: 1px solid black;
    border-radius: 12px;
    position: fixed;
    left: 0px;
    top: 80px;
    width: 200px;
    min-height: 400px;
    margin-top: 20px;
}

.view__wrapper{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width: 80%;
    background-color:white;
    padding: 20px;
}

.view__wrapper>h2{
    margin-bottom: 20px;
}

.view__container{
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 12px;
    height: 260px;
    width: 800px;
    display:flex;
    overflow:hidden;
    transition: 0.3s all ease;
    position: relative;
}

.view__container:hover .view__add{
    display:flex;
}

.view__add{
    cursor:pointer;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display:none;
    justify-content: center;
    align-items: center;
    color:black;
    background-color: #eef0ff;
    border-radius: 50%;
    position:absolute;
    top: 20px;
    right: 20px;
    border: 1px solid black;
}

.view__container:hover{
    transform: translate(-5px, -5px);
    box-shadow: 3px 3px 5px 6px #ccc;
}

.view__container:hover .userControls{
    display:flex;
}

.userControls{
    position:absolute;
    bottom: 20px;
    right:20px;
    display:none;
    justify-content: space-evenly;
    align-items:center;
    font-size: 18px;
    font-weight:bold;
    width: 200px;
    height: 50px;
    border: 1px solid purple;
    transition: 0.2s all ease;
    background-color:white;
}

.userControls:hover{
    transform: translate(-5px, -10px);
}

.view__control{
    z-index: 100;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 12px;
}

.view__control:hover{
    border-color:red;
}

.view__image{
    height: 100%;
    width: 250px;
    border-right: 1px solid black;
    object-fit: cover;
}

.view__content{
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.view__title{
    font-size: 24px;
    font-weight:bold;
    margin-bottom: 10px;
}

.view__title:hover a{
    cursor:pointer;
    border: 1px solid blue;
    border-radius: 12px;
    padding: 4px;
}

.view__date{
    color: #777;
    font-size: 12px;
    margin-bottom: 10px;
}

.view__author{
    color: #777;
    font-size: 12px;
}

.view__directions{
    color: #333;
    max-width: 650px;
    height: 170px;
    line-height: 1.5;
    overflow:hidden;
}

.view__directions ul{
    margin-left:0;
    display:flex;
    flex-wrap:wrap;
    align-items:space-evenly;
    justify-content: flex-start;
}

.view__directions li{
    margin-right: 15px;
    margin-left: 0;
    list-style-type:none;
    background-color: #eef0ff;
    padding: 3px 10px;
    border-radius: 12px;
    margin: 4px;
    border: 1px solid white;
}